Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET,POST,OPTIONS,DELETE,PUT"
Header always set Access-Control-Allow-Headers "*"
Header always set Cross-Origin-Opener-Policy "same-origin-allow-popups"
